<h1>Index</h1>

<table id="forum_table" class="main_table">
  <tr>
    <th class="forum_col1">Forum</th>
    <th class="forum_col2">Last post</th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td class="forum_col1">
      <div class="forum_name">
      	<strong><%= link_to forum.name, forum %></strong>
      </div>
      <div class="forum_stat">
      	<small>Topics: <%= forum.topics.count %>; Posts: <%= forum.posts.count %></small>
      </div>
      <div class="forum_desc"><%= simple_format(h(forum.description)) %></div>
      <div class="ops">
      	<% if can? :update, forum %>
          [ <%= link_to 'Edit', edit_forum_path(forum) %> ]
        <% end %>
      	<% if can? :destroy, forum %>
          [ <%= link_to 'Destroy', forum, confirm: 'Are you sure?', method: :delete %> ]
        <% end %>
      </div>      	
    </td>
    <td class="forum_col2">
      <div class="last_post">
      	<% unless forum.posts.empty? %>
      	  <%= link_to forum.posts.last.created_at.to_formatted_s(:long), [forum, forum.posts.last.topic, forum.posts.last] %>
      	  by
      	  <% unless forum.posts.last.author.nil? %>
      	    <%= link_to forum.posts.last.author.login, forum.posts.last.author %>
      	  <% else %>
      	    guest
      	  <% end %>
      	<% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Forum %>
  <%= link_to 'New Forum', new_forum_path %>
<% end %>
