<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.label :login %><br />
  	<%= f.text_field :login %>
  </div>
  
  <div class="field">
  	<%= f.label :email %><br />
  	<%= f.text_field :email %>
  </div>

  <div class="field">
  	<%= f.label :password%><br />
  	<%= f.password_field :password %>
  </div>
  
  <div class="field">
  	<%= f.label :password_confirmation %><br />
  	<%= f.password_field :password_confirmation %>
  </div>  

  <div class="field">
  	<%= f.label :real_name %><br />
  	<%= f.text_field :real_name %>
  </div>
  
  <div class="field">
  	<%= f.label :website %><br />
  	<%= f.text_field :website %>
  </div>

  <div class="field">
  	<%= f.label :location %><br />
  	<%= f.text_field :location %>
  </div>

  <% if current_user && current_user.admin? %>
    <div class="field">
  	  <%= f.check_box :is_admin %>
  	  <%= f.label :is_admin %>
    </div>

    <div class="field">
  	  <%= f.check_box :is_mod %>
  	  <%= f.label :is_mod %>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.label :posts_per_page %>
  	<%= f.select :posts_per_page, (1..100).map { |i| [i, i] } %>
  </div>

  <div class="field">
  	<%= f.label :topics_per_page %>
  	<%= f.select :topics_per_page, (1..100).map { |i| [i, i] } %>
  </div>

  <div class="field">
  	<%= f.label :users_per_page %>
  	<%= f.select :users_per_page, (1..100).map { |i| [i, i] } %>
  </div>

  <div class="actions">
    <%= f.submit submit_text %>
  </div>
<% end %>
