<h1>Users</h1>

<table id="user_table" class="main_table">
  <tr>
  	<th class="user_col1">Login</th>
    <th class="user_col2">Posts</th>
    <th class="user_col3">Registered</th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td class="user_col1">
  	  <div class="user_login"><%= link_to user.login, user %></div>
  	  <div class="ops">
		<% if can? :update, user %>
          [ <%= link_to 'Edit', edit_user_path(user) %> ]
        <% end %>
        <% if can? :destroy, user %>
          [ <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %> ]
        <% end %>
  	  </div>
  	</td>
  	<td class="user_col2">
  	  <div class="user_posts">
  	  	<%= user.posts.count %>
  	  </div>
    </td>
    <td class="user_col3">
      <div class="user_registered">
      	<%= user.created_at.to_formatted_s(:short) %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', "/" %>
