<h1><%= @topic.subject %></h1>
	
<table id="post_table" class="main_table">
  <tr>
    <th class="post_col1">Author</th>
    <th class="post_col2">Post</th>
  </tr>
  
<% @posts.each do |post| %>
  <tr>
    <td class="post_col1">
      <div class="post_author">
    	<% unless post.author.nil? %>
    	  <%= link_to((post.aithor.real_name.nil? ? post.author.login : post.author.real_name), post.author) %>
    	<% else %>
    	  guest
    	<% end %>
      </div>
    </td>
    <td class="post_col2">
    	<div class="post_date">
    	  <small>Created at: <%= post.created_at %>, Updated at: <%= post.updated_at %></small>
    	</div>
    	<div class="post_body">
    	  <p><%= post.body %></p>
    	</div>
    	<div class="ops">
    	  <% if can? :update, post %>
            [ <%= link_to 'Edit', edit_forum_topic_post_path(@forum, @topic, post) %> ]
          <% end %>
          <% if can? :destroy, post %>
            [ <%= link_to 'Destroy', [@forum, @topic, post], confirm: 'Are you sure?', method: :delete %> ]
    	  <% end %>
    	</div>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Post %>
  <%= link_to 'New Post', new_forum_topic_post_path(@forum, @topic) %> |
<% end %>
<%= link_to 'Back', forum_topics_path(@forum) %>
