<h1><%= @topic.subject %></h1>

<%= will_paginate @posts %>

<table id="post_table" class="main_table">
  <tr>
    <th class="post_col1">Author</th>
    <th class="post_col2">Post</th>
  </tr>
  
<% @posts.each do |post| %>
  <tr>
    <td class="post_col1">
      <a href=""
      <div class="post_author">
        <% unless post.author.nil? %>
    	  <%= link_to((post.author.real_name.nil? ? post.author.login : post.author.real_name), post.author) %><br />
    	  Registered: <%= post.author.created_at.to_formatted_s(:short) %><br />
    	  Posts: <%= post.author.posts.count %>
        <% else %>
    	  guest
        <% end %>
      </div>
    </td>
    <td class="post_col2">
    	<div class="post_date">
    	  <small>Created: <%= post.created_at.to_formatted_s(:long) %>; Updated: <%= post.updated_at.to_formatted_s(:long) %></small>
    	</div>
    	<div class="post_body">
    	  <p><%= post.body %></p>
    	</div>
    	<div class="ops">
    	  <% if can? :update, post %>
            [ <%= link_to 'Edit', edit_forum_topic_post_path(@forum, @topic, post) %> ]
          <% end %>
          <% if can?(:destroy, post) && post != @posts.first %>
            [ <%= link_to 'Destroy', [@forum, @topic, post], confirm: 'Are you sure?', method: :delete %> ]
    	  <% end %>
    	</div>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @posts %>

<br />

<% if can? :create, Post %>
  <%= link_to 'New Post', new_forum_topic_post_path(@forum, @topic) %> |
<% end %>
<%= link_to 'Back', forum_topics_path(@forum) %>
