<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Topic:</b>
  <%= @post.topic %>
</p>


<%= link_to 'Edit', edit_forum_topic_post_path(@forum, @topic, @post) %> |
<%= link_to 'Back', forum_topic_posts_path(@forum, @topic) %>
